.nav {
  display: flex;
  justify-content: center;
}

.link {
  background: linear-gradient(45deg, rgb(165 124 179) 30%, rgb(125 84 228) 90%);
  border-radius: 3px;
  border: 0;
  font-weight: 700;
  padding: 10px 20px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  text-decoration: none;
  font-size: 20px;
  color: rgb(243 187 195);
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .link {
    padding: 10px 30px;
  }
}

.link:hover {
  color: rgb(247 245 251);
}
.link:focus {
  color: rgb(247 245 251);
}
